/* Add this to your player.css file or your existing stylesheet */

.song-list {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Adjust margin as needed */
}

.song-list th, .song-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* 
 */

.song-item:hover {
  background-color: #A8A8A8;
}

.controls button {
  background-color: #6A0DAD;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.rating-stars {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 16px;
}

/* Adjust styling for other elements as needed */
.song-list th, .song-list td {
  border: none;
}


