<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonic Bliss</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Sonic Bliss</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#search">Search</a></li>
                <li><a href="#playlist">Playlist</a></li>
                <li><a href="#membership">Membership</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <h2>Welcome to Sonic Bliss</h2>
            <p>Your one-time free access to explore the world of harmonious melodies and captivating rhythms.</p>
            <button onclick="location.href='#register';">Register</button>
            <button onclick="location.href='#login';">Login</button>
        </section>
        <section id="search">
            <h2>Search</h2>
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Search songs, artists, genres, or albums...">
                <button type="submit">Search</button>
            </form>
            <div id="search-results"></div>
        </section>
        <section id="playlist">
            <h2>Your Playlist</h2>
            <div id="playlist-container"></div>
        </section>
        <section id="membership">
            <h2>Membership</h2>
            <p>To get unlimited access to all our songs, consider getting a membership.</p>
            <button onclick="location.href='#payment';">Get Membership</button>
        </section>
    </main>
    <footer>
        <p>&copy; 2022 Sonic Bliss. All rights reserved.</p>
    </footer>
    <script src="app.js"></script>
</body>
</html> -->