{% extends "base.html" %}

{% block content %}

  <link rel="stylesheet" href="{{ url_for('static', filename='player.css') }}">
  <!-- Add this to the head section of your HTML file -->

  <h2>Search songs</h2>

  {% if songs %}
    <table class="song-list">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          {% if is_playlist %}
            <th>Artist</th>
          {% endif %}
          <th>Album</th>
          <!-- Add other header columns as needed -->
        </tr>
      </thead>
      <tbody>
        {% for song in songs %}
          <tr class="song-item">
            <td>
              {% if is_logged_in and has_membership %}
                <audio preload="none" class="audio-button" id="audio-{{ song.song_name }}" src="{{ url_for('stream_music', filename=song._id) }}" controls></audio>
              {% else %}
                <audio class="audio-button" disabled>
                  <i class="material-icons">lock</i> <!-- You can use any icon to indicate that play is disabled -->
                </audio>
                <script>
                  window.onload = function() {
                    alert("You need to be logged in and have a membership to play songs.");
                  };
                </script>
              {% endif %}
            </td>
            <td>{{ song.song_name }}</td>
            {% if is_playlist %}
              <td>
                {% for artist_id, artist_name in zip(song.artist_id, song.artist_name) %}
                  <span class="artist" onclick="goToArtist('{{ artist_id }}')">{{ artist_name }}</span>
                {% endfor %}
              </td>
            {% endif %}

            <td>{{ song.album }}</td>
            <td>
              <div class="playlist_update">
                {% if is_logged_in and has_membership %}
                  <a class="add-to-playlist-btn" href="{{ url_for('add_to_playlist_modal', song_name=song._id) }}">
                    <i class="material-icons">add</i> <!-- Material Icons add icon -->
                  </a>
                {% else %}
                  <a class="add-to-playlist-btn" disabled>
                    <i class="material-icons">add</i> <!-- Material Icons add icon -->
                  </a>
                {% endif %}
              </div>
            </td>
            <td>
              <div class="rating" id="rating-{{ song._id }}">
                <select class="rating-stars" onchange="rateSong('{{ song._id }}', this.value)">
                  <option value="1" {% if song.avg_rating is defined and song.avg_rating == 1 %}selected{% endif %}>⭐️</option>
                  <option value="2" {% if song.avg_rating is defined and song.avg_rating == 2 %}selected{% endif %}>⭐️⭐️</option>
                  <option value="3" {% if song.avg_rating is defined and song.avg_rating == 3 %}selected{% endif %}>⭐️⭐️⭐️</option>
                  <option value="4" {% if song.avg_rating is defined and song.avg_rating == 4 %}selected{% endif %}>⭐️⭐️⭐️⭐️</option>
                  <option value="5" {% if song.avg_rating is defined and song.avg_rating == 5 %}selected{% endif %}>⭐️⭐️⭐️⭐️⭐️</option>
                </select>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No songs found.</p>
  {% endif %}

  <script>
    // Your JavaScript code here
   

    document.addEventListener('play', function(e){
      var audios = document.getElementsByTagName('audio');
      for(var i = 0, len = audios.length; i < len;i++){
          if(audios[i] != e.target){
              audios[i].pause();
          }
      }
    }, true);

    function rateSong(songName, rating) {
      // Send a POST request to the server to save the rating
      fetch(`/rate_song/${songName}/${rating}`, {
        method: 'POST',
        // Add other necessary headers and body if needed
      })
        .then(response => {
          // Handle the response as needed
          if (response.ok) {
            // Optionally, you can perform actions on the client side
            console.log('Rating submitted successfully');
          } else {
            // Handle errors
            console.error('Error submitting rating');
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }

    function goToArtist(artistId) {
      window.location.href = '/artist/' + artistId;
    }
  </script>

{% endblock %}
