<!-- playlist.html -->

{% extends "base.html" %}

{% block content %}
    <div class="create-playlist">
        <h2>Create Playlist</h2>
        <form action="/create_playlist" method="POST">
            <label for="playlistName">Playlist Name:</label>
            <input type="text" id="playlistName" name="playlistName" required>
            <button type="submit">Create Playlist</button>
        </form>
    </div>

    <div class="existing-playlists">
        <h2>Existing Playlists</h2>
        {% if playlists %}
        <div class="playlist-container">
            {% for playlist in playlists %}
            <!-- <p><a href="{{ url_for('search_music_direct', filename=playlist.playlist_name) }}">{{ playlist.playlist_name }}</a></p> -->

                <div class="playlist">
                    <img src="https://source.unsplash.com/random/200x200?sig={{ playlist.playlist_name }} " alt="{{ playlist.playlist_name }}">
              
                <p><a href="{{ url_for('search_playlist', filename=playlist.playlist_name) }}"  class="playlist-link">{{ playlist.playlist_name }}</a></p>
            </div>
            {% endfor %}
        </div>

        {% else %}
            <p>No playlists found.</p>
        {% endif %}
    </div>
{% endblock %}
