{% extends "base.html" %}

{% block title %}Music Stream - Home{% endblock %}

{% block content %}

    <header>
        <!-- ... (existing code) ... -->
        
        <div id="topSlideshow" class="slideshow">
            {% for image in slide_images %}
                <div class="slide fade">
                    <!-- <a href="{{ url_for('search_music') }}"> -->
                        <img src="{{ url_for('static', filename=image) }}" alt="Top Slide">
                    <!-- </a> -->
                </div>
            {% endfor %}
        </div>
    </header>

    <section class="featured-playlists animate__animated animate__fadeIn">
        <h2>AVAILABLE GENRES</h2>
    </section>

    <div class="playlist-container">
        {% for genre in genres %}
            <div class="playlist">
                <a href="{{ url_for('search_genre_music', filename=genre) }}">
                    <img src="https://picsum.photos/500/500?random={{ loop.index }} " alt="{{ genre }} Playlist">
                </a>
                <h3>{{ genre }}</h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}
